# {{ ansible_managed }}
start on filesystem and started docker
stop on runlevel [!2345]
respawn
script
  exec docker-compose -f {{ docker_compose_file_path }} up
end script
post-stop script
  exec docker-compose -f {{ docker_compose_file_path }} stop
script
